<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Confirmation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="../../static/js/handleConfirmationPage.js" defer></script>
</head>
<body>
    <h1>Checkout Successful!</h1>
    <div id="order-details">
        <p>Your order:</p>
        <p id="order-id"></p>
    </div>

    <button onclick="location.href = 'http://0.0.0.0:8888/';">Back to main page</button>
</body>
</html>