.jumbotron {
    background-image: url("../img/banana_background.jpg") ;
    background-size: 105%;
    box-shadow: 5px 5px 8px #999999;
    color: black;
    text-shadow: 0 0 3px white, 0 0 5px white;
    animation: backgroundScroll 15s linear infinite;
    height: 200px;
}

@-webkit-keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -180px 0;}
}

#footer {
    background-color: #e8c500;
    color: black;
    text-align: center;
}
#number-cart-contains {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    padding: 1px;
    background: red;
    color: white;
    text-align: center;
    font: 14px Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.card {
    margin-bottom: 15px;
    margin-top: 15px;
    border-color: #999999;
    box-shadow: 5px 5px 8px #999999;
}

.img-hover-zoom {
    overflow: hidden;
}

.img-hover-zoom img {
    transition: transform .5s ease;
}

.img-hover-zoom:hover img {
    transform: scale(1.5);
}

#cartButton {
    background-color: #e8c500;
    margin-left: 65%;
    margin-top: -3.8%;
    border-color: #ffe968;
    border-radius: 50px;
    color: black;
    box-shadow: none;
    width: 75px;
    height: 75px;
    position: fixed;
}

#cartButton:hover, #cartButton:active,
.btn-primary:hover, .btn-primary:active{
    background-color: black;
    color: #e8c500;
    outline: none;
    border-color: #ffe968;
}

#cartButton:hover {
    animation-name: rotateCartButton;
    animation-duration: 0.35s;
}

@keyframes rotateCartButton {
    25% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    75% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.btn-primary, .add-to-cart, .order-button {
    background-color: #e8c500;
    border-color: #ffe968;
    color: black;
    box-shadow: none;
}

.add-to-cart:hover, .add-to-cart:active,
.order-button:hover {
    background-color: black;
    color: #e8c500;
    border-color: #ffe968;
}

#sleepy-cat {
    height: 400px;
    margin-left: 33%;
    margin-top: -2%;
    position: absolute;
}