.jumbotron {
    background-image: url("../img/banana_background.jpg") ;
    background-size: 105%;
    color: black;
    text-shadow: 0 0 3px white, 0 0 5px white;
    animation: backgroundScroll 15s linear infinite;
}

@-webkit-keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -180px 0;}
}

#footer {
    background-color: #e8c500;
    color: black;
    text-align: center;
    margin-top: 30px;
}

.card {
    margin-top: 30px;
    border-color: #999999;
}

.img-hover-zoom {
    overflow: hidden;
}

.img-hover-zoom img {
    transition: transform .5s ease;
}

.img-hover-zoom:hover img {
    transform: scale(1.5);
}